@import "../../responsive.scss";

.layout {
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

    @include lg {
        background-color: rgb(208, 208, 173);
        max-width: 1280px;
    }

    @include md {
        background-color: rgb(175, 175, 209);
        max-width: 768px;
    }

    @include sm {
        background-color: rgb(229, 202, 202);
        max-width: 640px;
    }

    .content {
        height: calc(100vh - 100px);
    }


}
