@import '../../responsive.scss';
.searchBar {

    @include sm {
        width: 100%;
    }
    .type{
        button {
            padding : 16px 28px;
            border: 1px solid #999;
            cursor: pointer;
            background-color: white;
            text-transform: capitalize;
            &.active {
                background-color: black;
                color: white;
            }

            &:first-child{
                border-top-left-radius: 5px;
                border-right: none;
                border-bottom: none;
            }
            &:last-child{
                border-top-right-radius: 5px;
                border-left: none;
                border-bottom: none;

            }
        }
    }

    form{
        display: flex;
        border: 1px solid #999;
        border-radius: 2px ;

        @include sm {
            flex-direction: column;
            width: 100%;
            border: none;
            gap: 2px;
        }

        input{
            padding: 1rem;
            border: none;
        }


        button{
            height: 4rem;
            width: 4.5rem;
            cursor: pointer;
            background-color: #fece51;
            border: none;

            @include sm {
                margin: auto;
                width: 80%;
                border-radius: 15px;
            }

            img {
                padding: 6px;
            }
        }
    }
}